<div class = 'text-center'>
<h1>Projects</h1>
</div>

<div id = 'key-container' class = 'container'>
<div class = 'ruby-key key'>
	Ruby
</div>

<div class = 'java-key key'>
	JavaScript
</div>

<div class = 'htcss-key key'>
	CSS
</div>

</div>

<div id = 'project-container' class = 'text-center'>

	<div id = 'project-item-l'>

		<div class = 'project-item'>
			<a href = 'https://rocky-oasis-49795.herokuapp.com'>
				<div class = 'project-heading ruby'>
					<h1>Hangman</h1>
				</div>
			</a>

			<a href = 'https://rocky-oasis-49795.herokuapp.com'>
				<div class = 'project-display'>
					<img src = 'assets/hangman_project.png'>
				</div>
			</a>

			<div class = 'project-description'>
				<p> This hangman game was created using Sinatra, a Ruby framework. I created this game to play with my 8th grade math students. This project involved reading from files and working with HTTP requests.</p>
			</div>
		</div>
		
		<div class = 'project-item'>
			<a href = 'https://alexchi1114.github.io/youtube/'>
				<div class = 'project-heading htcss'>
					<h1>YouTube Copy-Cat</h1>
				</div>
			</a>

			<a href = 'https://alexchi1114.github.io/youtube/'>
				<div class = 'project-display'>
					<img src = 'assets/youtube_project.png'>
				</div>
			</a>

			<div class = 'project-description'>
				<p> This project was an attempt to recreate YouTube's layout using HTML and CSS. The focus of this project was on floating containers and using the box model to create a structured layout.</p>
			</div>
		</div>
		

		<div class = 'project-item'>
			<a href = 'https://vast-anchorage-37995.herokuapp.com'>
				<div class = 'project-heading ruby'>
					<h1>Members Only</h1>
				</div>
			</a>

			<a href = 'https://vast-anchorage-37995.herokuapp.com'>
				<div class = 'project-display'>
					<img src = 'assets/members_only.png'>
				</div>
			</a>

			<div class = 'project-description'>
				<p> A site where you can sign up, log in, log out, make posts, and sort posts. This tested my knowledge of relational databases, SQL querying, and authentication.</p>
			</div>
		</div>

		<div class = 'project-item'>
			<a href = 'https://alexchi1114.github.io/etch-a-sketch/'>
				<div class = 'project-heading java'>
					<h1>Etch-A-Sketch</h1>
				</div>
			</a>

			<a href = 'https://alexchi1114.github.io/etch-a-sketch/'>
				<div class = 'project-display'>
					<img src = 'assets/etch_a_sketch.png'>
				</div>
			</a>

			<div class = 'project-description'>
				<p> A virtual etch-a-sketch created using JavaScript/jQuery. Includes multiple modes!</p>
			</div>
		</div>
	</div>

	<div id = 'project-item-r'>
		<div class = 'project-item'>
			<a href = 'https://alexchi1114.github.io/tictactoe'>
				<div class = 'project-heading java'>
					<h1>Tic-Tac-Toe</h1>
				</div>
			</a>

			<a href = 'https://alexchi1114.github.io/tictactoe'>
				<div class = 'project-display'>
					<img src = 'assets/tic_tac_toe.png'>
				</div>
			</a>

			<div class = 'project-description'>
				<p> A Tic-Tac-Toe game created using JavaScript/jQuery (does not work on mobile). The AI for playing against the computer was also created by me. Try to beat the computer!</p>
			</div>
		</div>
		
		<div class = 'project-item'>
			<a href = 'https://alexchi1114.github.io/mint/'>
				<div class = 'project-heading htcss'>
					<h1>Mint Layout</h1>
				</div>
			</a>

			<a href = 'https://alexchi1114.github.io/mint/'>
				<div class = 'project-display'>
					<img src = 'assets/mint.png'>
				</div>
			</a>

			<div class = 'project-description'>
				<p> A recreation of Mint's sign-up page. The focus of this project was to use HTML and CSS to create great looking forms.</p>
			</div>
		</div>

		<div class = 'project-item'>
			<a href = 'https://alexchi1114.github.io/snake/'>
				<div class = 'project-heading java'>
					<h1>Snake</h1>
				</div>
			</a>

			<a href = 'https://alexchi1114.github.io/snake/'>
				<div class = 'project-display'>
					<img src = 'assets/snake.png'>
				</div>
			</a>

			<div class = 'project-description'>
				<p> Recreating the game Snake using JavaScript/jQuery (not playable on mobile).  This project tested my knowledge of event listeners, setting timeouts, and working with JavaScript objects and functions. My high score is 1827 (can you beat it?).</p>
			</div>
		</div>

		<div class = 'project-item'>
			<a href = 'https://alexchi1114.github.io/image_slider/'>
				<div class = 'project-heading java'>
					<h1>Image Carousel</h1>
				</div>
			</a>

			<a href = 'https://alexchi1114.github.io/image_slider/'>
				<div class = 'project-display'>
					<img src = 'assets/image_slider.png'>
				</div>
			</a>

			<div class = 'project-description'>
				<p>This is an image carousel I made from scratch using JavaScript/jQuery. This project involved the extensive use of functions and attribute selectors.</p>
			</div>
		</div>
		
		

	</div>

</div>
