<div class = 'container text-center'>
	<h1>Alex Chichester</h1>
</div>

<div class = 'container-fluid'>

		<!-- Experience -->

	<div class = 'row'>
		<div class = 'col-xs-12'>
			<h2><span>Experience<span></h2>
		</div>
	</div>

	<div class = 'row text-center'>
		<div class = 'col-sm-4'>
			<h3 class = 'resume-heading'> Ruby </h3>
			<ul class="list-group">
 				 <li class="list-group-item">Strong Understanding of Object Oriented Programming</li>
 				 <li class="list-group-item">Experience with and understanding of namespaces.</li>
  				<li class="list-group-item">Knowledge of class hierarchy and inheritance.</li>
  				<li class="list-group-item">Experience testing with RSPEC.</li>
			</ul>
		</div>

		<div class = 'col-sm-4'>
			<h3 class = 'resume-heading'> Ruby on Rails </h3>
			<ul class="list-group">
 				 <li class="list-group-item">Strong understanding of MVC architecture pattern.</li>
 				 <li class="list-group-item">Working with gems to add features to a Rails application.</li>
 				 <li class = "list-group-item"> Experience with Active Record to query database.
 				 </li>

  				<li class="list-group-item">Implementing authentication and mailers.</li>
  				<li class = 'list-group-item'>Implementing external APIs (e.g. Google maps).
 				 </li>
  				<li class="list-group-item">Experience with unit testing.</li>
			</ul>
		</div>

		<div class = 'col-sm-4'>
			<h3 class = 'resume-heading'> Javascript </h3>
			<ul class="list-group">
 				 <li class="list-group-item">Strong understanding of basic JavaScript and comfortable with advanced JavaScript topics (e.g. closures, prototypes, callback functions).</li>
 				 <li class="list-group-item">Familiar with JavaScript libraries (specifically jQuery).</li>
 				 <li class = "list-group-item"> Experience manipulating the DOM using jQuery.
 				 </li>
 				 <li class = "list-group-item"> Using JavaScript for client-side validations.
 				 </li>
			</ul>

		</div>
	</div>

	<div class = 'row text-center'>
		<div class = 'col-sm-4'>
			<h3 class = 'resume-heading'> CSS </h3>
			<ul class="list-group">
 				 <li class="list-group-item">Strong understanding of the box model and positioning elements.</li>
 				 <li class="list-group-item">Styling forms.</li>
 				 <li class = "list-group-item"> Working with CSS framework (specifically Bootstrap).
 				 </li>

  				<li class="list-group-item">Using media queries to create responsive designs.</li>
  				
			</ul>
		</div>

		<div class = 'col-sm-4'>
			<h3 class = 'resume-heading'> HTML </h3>
			<ul class="list-group">
 				 <li class="list-group-item">Strong understanding of markup language and its various elements (e.g. div, span, links, etc).</li>
			</ul>
		</div>

		<div class = 'col-sm-4'>
			<h3 class = 'resume-heading'> Other </h3>

			<ul class="list-group">
 				 <li class="list-group-item">Experience using Git for version control.</li>
 				 <li class="list-group-item">Understanding of basic UNIX commands.</li>
 				 <li class = "list-group-item">Creating SQL queries.
 				 </li>
  				<li class="list-group-item">I have solved 17 problems at www.projecteuler.net, a site where challenging math problems are solved using programming languages.</li>
			</ul>
		</div>
	</div>

	<!-- Employment History -->

	<div class = 'row'>
		<div class = 'col-xs-12'>
			<h2><span>Employment History</span></h2>
		</div>
	</div>

	<div class = 'row text-center'>
		<div class = 'col-sm-6'>
			<h3 class = 'resume-heading'>University Prep Charter School</h3>
			<h4>August 2015 - June 2017</h4>
			<ul class="list-group">
 				 <li class="list-group-item">Math teacher for Pre-calculus, Algebra II, Geometry, and Math 8.</li>
			</ul>
		</div>
		<div class = 'col-sm-6'>
			<h3 class = 'resume-heading'>SUNY Geneseo</h3>
			<h4> August 2010 - May 2014 </h4>
			<ul class = "list-group">
				<li class='list-group-item'>
					Telephone operator at Computing and Information Technology (August 2010-May 2014).
				</li>
				<li class='list-group-item'>
					Teaching Assistant for Introduction to Mathematical Proof (Fall 2012).
				</li>
				<li class='list-group-item'>
					Math tutor at Math Learning Center (September 2012 - May 2014).
				</li>
				<li class='list-group-item'>
					Teaching Assistant for Introduction to Logic (September 2013 - May 2014).
				</li>
			</ul>
		</div>
	</div>

	<!-- Education -->

	<div class = 'row'>
		<div class = 'col-xs-12'>
			<h2><span>Education</span></h2>
		</div>
	</div>

	<div class = 'row text-center'>
		<div class = 'col-sm-6'>
			<h3 class = 'resume-heading'>B.A. </h3>
			<h4>SUNY GENESEO</h4>
			<h5>GPA 3.87</h5>
			<ul class="list-group">
 				 <li class="list-group-item">B.A in Mathematics</li>
 				 <li class="list-group-item">B.A. in Philosophy</li>
  				<li class="list-group-item">Minor in college's Edgar Fellows Honors Program</li>
  				<li class="list-group-item">Graduated May 2014</li>
			</ul>
		</div>
		<div class = 'col-sm-6'>
			<h3 class = 'resume-heading'>M.S.</h3>
			<h4> UNIVERSITY OF ROCHESTER</h4>
			<h5> GPA 4.0 </h5>
			<ul class = "list-group">
				<li class='list-group-item'>
					M.S. in Adolescence Education: Mathematics
				</li>
				<li class='list-group-item'>
					Graduated August 2015
				</li>
			</ul>
		</div>
	</div>

	<!-- Awards and Honors -->

	<div class = 'row'>
		<div class = 'col-xs-12'>
			<h2><span>Awards and Honors</span></h2>
		</div>
	</div>

	<div class = 'row text-center'>
		<div class = 'col-sm-6'>
			<ul class="list-group">
 				 <li class="list-group-item">Member of Phi Beta Kappa Honor Society (Spring 2014 - Present)</li>
 				 <li class="list-group-item">Member of Pi Mu Epsilon, Honorary National Mathematics Society (Spring 2013 - Current)</li>
 				 <li class="list-group-item">Contributing author for a mathematics paper published in <em>Involve, a Journal of Mathematics Issue 10-2</em> on algebraic knot theory. research was done for this paper as part of an REU at Fresno University, California (June 2013).</li>
			</ul>
			
		</div>
		<div class = 'col-sm-6'>
				<li class='list-group-item'>
					Robert Noyce Teacher Scholarship (Spring 2014).
				</li>
				<li class='list-group-item'>
					Recognized in the December 2013 issue of <em>Mathematics Magazine</em> for solving a challenging problem on countably infinite dense sets.
				</li>
				<li class='list-group-item'>
					William Small Scholarship in Philosophy (Spring 2013).
				</li>
			</ul>
		</div>
	</div>

</div>










