<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> email from your personal website is working!!! </p>
    <br>
    <p>Name: <%= @feedback.name %></p>
    <p>Feedback:<%= @feedback.body%></p>
  </body>
</html>