<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> A message from alexanderchichester.com!!! </p>
    <br>
    <p>Name: <%= @feedback.name %></p>
    <p>email: <%= @feedback.email %></p>
    <p>Feedback:<%= @feedback.body%></p>
  </body>
</html>