
	<div class="topnav" id="myTopnav">
	    <%=link_to "Home", root_path%>
	    <%=link_to "Projects", project_path%>
	    <%=link_to "Contact", new_feedback_path%>
	    <%=link_to "Freelance", freelance_path%>
	    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	</div>
